<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row rtl-row">
            <div class="col-lg-5 col-md-12 col-sm-12 rtl-text">
                <img src="assets/images/logo-dark.svg" class="logo" alt="">
                <div class="text">هو مكّن تغييرات للإتحاد كلّ, كانت أراضي بريطانيا، تم ذات. هنا؟ تسمّى انه بـ, وقد مع
                    بقصف تمهيد اللازمة, الشمال الإمداد حول عن. قد كلّ معقل الشطر. هامش عرفها الثانية بين في.
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
                <h5>روابط مفيدة</h5>
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>عملنا</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>معلومات عنا</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>خدمات</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مدونة</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>اتصل</span></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
                <h5>أحدث التطبيقات</h5>
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مدرسة الرقص</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مزيف النقود</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>سحابة مدير</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>ترميز الحياة</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مكتب ذكي</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 rtl-text">
                <h5>اتصل بنا</h5>
                <div class="address">
                    <p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
                    <p>Phone: (272) 211-7370</p>
                    <p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright rtl-text">© 2021 Beapp. كل الحقوق محفوظة.</p>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Start ***** -->
