<!-- ***** Preloader Start ***** -->
<div class="loader-wrapper">
    <div class="center">
        <div class="dot dot-one"></div>
        <div class="dot dot-two"></div>
        <div class="dot dot-three"></div>
        <div class="dot dot-four"></div>
        <div class="dot dot-five"></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="rtl-home.html" class="logo">
                        <img src="assets/images/logo-white.svg" class="light-logo" alt="Beapp"/>
                        <img src="assets/images/logo-dark.svg" class="dark-logo" alt="Beapp"/>
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav rtl-row">
                        <li><a href="rtl-home.html">منزل</a></li>
                        <li><a href="rtl-our-work.html">عملنا</a></li>
                        <li><a href="rtl-about-us.html">معلومات عنا</a></li>
                        <li><a href="rtl-services.html">خدمات</a></li>
                        <li><a href="rtl-blog.html">مدونة</a></li>
                        <li><a href="rtl-contact.html" class="btn-nav-line">اتصل</a></li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

